@import url(./_search/button__active_search.css);

.button.button__active {
  border: none;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: 'Roboto', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
transition: background .15s linear .15s;
}

.button.button__active:hover {
  background: #347EFF;
}

.button.button__active:active {
  background: #2A65CC;
}

