@import url(./__img/about__img.css);

.about {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
}

@media screen and (max-width: 1311px) {
  .about {
  width: calc(100% - 80px);
  margin-top: 40px;
}
}

@media screen and (min-width: 376px) and (max-width: 714px) {

.about {
  width: calc(100% - 32px);
  margin-top: 32px;
  flex-direction: column;
}
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .about {
  width: calc(100% - 32px);
  margin-top: 32px;
  flex-direction: column;
}

}

