@import url(./_in/nav__link_in.css);
@import url(./_footer/nav__link_footer.css);
@import url(./_login/nav__link_login.css);

.nav__link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 376px) and (max-width: 714px) {

  .nav__link {
  padding: 0;
  border: 0;
  line-height: 56px;
}
}

@media screen and (min-width: 320px) and (max-width: 375px) {

  .nav__link {
    padding: 0;
    border: 0;
  line-height: 56px;
  }
}



