@import url(./_active/menu__button_active.css);
@import url(./_light-theme/menu__button_light-theme.css);
@import url(./_close/menu__button_close.css);


.menu__button {
  display: none;
  width: 24px;
  height: 24px;
  margin: 16px 16px 16px 0;
  background-image: url(../../../../images/menu_white.svg);
}

@media screen and (min-width: 376px) and (max-width: 714px) {
  .menu__button {
  display: flex;
}
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .menu__button {
  display: flex;
}
}



