.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (min-width: 376px) and (max-width: 714px) {
  .popup__close {
  width: 24px;
    right: 16px;
}
}


@media screen and (min-width: 320px) and (max-width: 375px) {
  .popup__close {
  width: 24px;
    right: 16px;
}

}
