@import url(./__items/nav__items.css);
@import url(./_active/nav_active.css);
@import url(./__item/nav__item.css);
@import url(./__link/nav__link.css);
@import url(./__login/nav__login.css);
@import url(./__icon-logout/nav__icon-logout.css);

.nav {
  padding: 19px 104px 13px 0;
}

@media screen and (max-width: 1311px) {
  .nav {
    padding: 14px 40px 12px 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 714px) {
  .nav {
  display: none;
}
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .nav {
  display: none;
}
}


