@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/top/top.css);
@import url(../blocks/nav/nav.css);
@import url(../blocks/button/button.css);
/* @import url(../blocks/description/description.css); */
@import url(../blocks/results/results.css);
/* @import url(../blocks/about/about.css); */
/* @import url(../blocks/popup/popup.css); */
@import url(../blocks/footer/footer.css);
@import url(../blocks/saved/saved.css);
@import url(../blocks/results/results.css);


.page-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Roboto', Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.page {
  width: 100%;
  margin: 0 auto;
}
