.card__top {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
}

@media screen and (min-width: 715px) and (max-width: 1023px) {
  .card__top {
  top: 8px;
  right: 8px;
}
}

@media screen and (min-width: 376px) and (max-width: 714px) {
  .card__top {
  top: 16px;
  right: 16px;
}
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .card__top {
  top: 16px;
  right: 16px;
}
}

